<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"  
 	xmlns:ws="http://jax-ws.dev.java.net/spring/core" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans-4.3.xsd   
          http://jax-ws.dev.java.net/spring/core
          http://jax-ws.dev.java.net/spring/core.xsd">
          
    <!--配置变量注入 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config/service.properties</value>
				<value>classpath:config/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- 载入mvc配置 -->
	<import resource="classpath*:spring/spring-mvc.xml" />

	<!-- 载入dao配置 -->
	<import resource="classpath*:spring/spring-mybatis.xml" />
	
	<!-- 业务bean配置 -->
	<bean id="testService" class="com.nazir.service.impl.TestServiceImpl" />
</beans>